<footer>
    <div title="go up!" class="toppage">
        <a href="#">
            <div class="triangle"></div>
        </a>
    </div>
    <div class="foot">
        <a href="tel:123-456-7890 ">Call us</a>
        <a href="https://goo.gl/maps/BwB23aMdMN29GQFn6 ">Address</a>
        <a href="mailto:softlicenseshop@softlicenseshop.com ">Email us</a>
        <a href="https://wa.me/1234567890 ">Whatsapp</a>
        <small>Copyright &copy;2022 SLS
        <time datetime="2022-02-16 ">16 Februarie</time>
    </small>
    </div>
    <p id="banner_cookies">Acesta este un proiect scolar. Acceptati cookie-urile de pe site? <button id="ok_cookies">Ok</button></p>
</footer>