.galerie-animata {
  width: 400px;
  height: 300px;
  position: relative;
}
.galerie-animata:hover figure {
  animation-play-state: paused;
}

.galerie-animata figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  animation-name: gal_exemplu;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-duration: 30s;
  border: 10px solid;
  border-image: url("../pics/Software480w.png") 10% round;
}

.galerie-animata figcaption {
  position: absolute;
  bottom: 0px;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  text-align: center;
}

.galerie-animata img {
  display: inline-block;
  width: 100%;
}

@keyframes gal_exemplu {
  0% {
    z-index: 11;
    opacity: 1;
  }
  5% {
    clip-path: polygon(100% 0, 100% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 0 100%, 0 0);
  }
  9.375% {
    opacity: 1;
  }
  10% {
    z-index: 11;
    opacity: 0;
    clip-path: polygon(100% 0, 100% 100%, 100% 100%, 100% 0, 0% 0, 0% 100%, 0 100%, 0 0);
  }
  10.001% {
    z-index: -11;
    clip-path: polygon(100% 0, 100% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 0 100%, 0 0);
  }
  90% {
    opacity: 0;
    z-index: -11;
    clip-path: polygon(100% 0, 100% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 0 100%, 0 0);
  }
  90.001% {
    z-index: 0;
  }
  100% {
    opacity: 1;
    z-index: 0;
  }
}
.galerie-animata figure:nth-of-type(10) {
  animation-delay: 0s;
}

.galerie-animata figure:nth-of-type(9) {
  animation-delay: 3s;
}

.galerie-animata figure:nth-of-type(8) {
  animation-delay: 6s;
}

.galerie-animata figure:nth-of-type(7) {
  animation-delay: 9s;
}

.galerie-animata figure:nth-of-type(6) {
  animation-delay: 12s;
}

.galerie-animata figure:nth-of-type(5) {
  animation-delay: 15s;
}

.galerie-animata figure:nth-of-type(4) {
  animation-delay: 18s;
}

.galerie-animata figure:nth-of-type(3) {
  animation-delay: 21s;
}

.galerie-animata figure:nth-of-type(2) {
  animation-delay: 24s;
}

.galerie-animata figure:nth-of-type(1) {
  animation-delay: 27s;
}