<!DOCTYPE html>

<html lang="en">

<head>
    <title>Company form</title>
    <%- include("../../fragmente/head.ejs") %>
</head>

<body>
    <%- include("../../fragmente/header.ejs") %>
        <main>
            <h1>Company form !</h1>
        </main>
        <%- include("../../fragmente/footer.ejs") %>

</body>

</html>