<!DOCTYPE html>

<html lang="en">

<%- include("../../fragmente/head.ejs") %>

<body>
    <%- include("../../fragmente/header.ejs") %>
    <main>
        <h1>Company form !</h1>
    </main>
    <%- include("../../fragmente/footer.ejs") %>

</body>

</html>