<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Confirmation page</title>
		<%- include("../../fragmente/head") %>
	</head>
	<body class="container">
		<header>
			<%- include("../../fragmente/header") %>
		</header>
		<main>
			
			<h1>Confirmare mail</h1>
			<p>Totul a functionat bine!</p>
		</main>
		
		<%- include("../../fragmente/footer") %>
		
	</body>
</html>