<!DOCTYPE html>

<html lang="en">

<head>
    <title>Contact</title>
    <%- include("../../fragmente/head.ejs") %>
        <link rel="stylesheet" href="/resurse/style/galerie_animata.css">
</head>

<body>
    <%- include("../../fragmente/header.ejs") %>
        <main>
            <h1>Contact !</h1>
            <%- include("../../fragmente/galerie_animata.ejs") %>
        </main>
        <%- include("../../fragmente/footer.ejs") %>

</body>

</html>