<!DOCTYPE html>
<html lang="en">

<head>
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="resurse/style/error.css">
    <%- include( "../../fragmente/head.ejs"); %>


</head>

<body>

    <%- include("../../fragmente/header.ejs");  %>

        <main>
            <div class="err-coloane">
                <div class="err-imag">
                    <img src="resurse/pics/errors/brokenlink640w.png" />
                </div>
                <section>
                    <h2>Eroare - eroare</h2>
                    <p>Dap, asta este o eroare.</p>
                </section>
            </div>
        </main>

        <%- include("../fragmente/footer.ejs");  %>


</body>

</html>