<!DOCTYPE html>

<html lang="en">

<head>
    <title>Software License Shop</title>
    <%- include("../../fragmente/head.ejs") %>
        <link rel="stylesheet" href="/resurse/style/index.css">
</head>

<body>
    <%- include("../../fragmente/header.ejs") %>
        <main class="gridwrapper">
            <div class="box1">
                <section id="welcome">
                    <h2>Welcome !</h2>
                    <a href="/resurse/download/app.txt " download="softlicenseshop.exe " target="_blank ">Download our app for desktop or
                mobile</a>
                    <p>
                        Your #1 source of alternatives to popular apps.
                    </p>
                    <p>
                        We promote small companies and startups that want to compete with the tech giants.
                    </p>
                    <p>
                        Variety and freedom of choice is our motto, so we invite you to try out our products filtered through a strict quality control done by our specialists to make sure you get the best experience.
                    </p>
                    <p>
                        If you are not satisfied with the software license you purchased, you can always get a refund within 30 days of receipt.
                    </p>
                </section>
            </div>
            <div class="box3">
                <h2>Calendar !</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut mauris ac tortor hendrerit auctor. Sed ultricies accumsan porttitor. Praesent dapibus fermentum sapien at congue. Nam vitae dapibus tellus. Quisque auctor arcu eu sapien ullamcorper luctus.
                    Phasellus scelerisque ultrices sapien, ac fermentum erat mattis vitae. Donec non arcu interdum, pellentesque tortor ac, sagittis dolor. Cras tincidunt tortor tortor, vitae aliquet nibh pharetra lobortis. Praesent vestibulum consequat
                    porttitor. Proin ipsum libero, vulputate non ultricies in, fringilla in purus. Pellentesque sit amet eros velit. In sit amet nisi ultricies, interdum risus sit amet, volutpat felis. Maecenas interdum viverra sem lobortis condimentum.
                    Aliquam imperdiet eget neque id sagittis. Phasellus porttitor imperdiet fringilla. In ante risus, congue vitae semper et, faucibus ac nisl. Cras lobortis cursus metus, nec finibus nunc. Praesent viverra arcu laoreet, lacinia neque
                    nec, gravida nisi. Curabitur imperdiet finibus elit, ac tristique risus lacinia id. Morbi at nibh porttitor, accumsan enim non, porta ex. Donec congue condimentum augue ut fringilla. Aliquam iaculis libero nulla, id iaculis erat ultrices
                    non. Pellentesque suscipit volutpat pellentesque. Integer venenatis ullamcorper lectus non luctus. Fusce vel sollicitudin leo. Vestibulum molestie velit vel vestibulum malesuada. Interdum et malesuada fames ac ante ipsum primis in
                    faucibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent tempor diam quis ligula vulputate, ut interdum magna venenatis. Praesent nec pretium erat. Nullam a lectus aliquet, condimentum
                    est sed, consectetur turpis. Proin iaculis tellus purus, quis finibus sem laoreet eget.
                </p>
                <section id="offers">
                    <h2>Offers</h2>
                    <p>
                        To make sure you get the best deals every time, the Software License Shop periodically provides new offers for your favorite apps.
                    </p>
                    <p>
                        Check out the list below !
                    </p>
                    <ul>
                        <li>Daily</li>
                        <li>Weekly</li>
                        <li>Monthly</li>
                    </ul>
                </section>
            </div>
            <div class="box5">
                <h2>Utilizatori online !</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut mauris ac tortor hendrerit auctor. Sed ultricies accumsan porttitor. Praesent dapibus fermentum sapien at congue. Nam vitae dapibus tellus. Quisque auctor arcu eu sapien ullamcorper luctus.
                    Phasellus scelerisque ultrices sapien, ac fermentum erat mattis vitae. Donec non arcu interdum, pellentesque tortor ac, sagittis dolor. Cras tincidunt tortor tortor, vitae aliquet nibh pharetra lobortis. Praesent vestibulum consequat
                    porttitor. Proin ipsum libero, vulputate non ultricies in, fringilla in purus. Pellentesque sit amet eros velit. In sit amet nisi ultricies, interdum risus sit amet, volutpat felis. Maecenas interdum viverra sem lobortis condimentum.
                    Aliquam imperdiet eget neque id sagittis. Phasellus porttitor imperdiet fringilla. In ante risus, congue vitae semper et, faucibus ac nisl. Cras lobortis cursus metus, nec finibus nunc. Praesent viverra arcu laoreet, lacinia neque
                    nec, gravida nisi. Curabitur imperdiet finibus elit, ac tristique risus lacinia id. Morbi at nibh porttitor, accumsan enim non, porta ex. Donec congue condimentum augue ut fringilla. Aliquam iaculis libero nulla, id iaculis erat ultrices
                    non. Pellentesque suscipit volutpat pellentesque. Integer venenatis ullamcorper lectus non luctus. Fusce vel sollicitudin leo. Vestibulum molestie velit vel vestibulum malesuada. Interdum et malesuada fames ac ante ipsum primis in
                    faucibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent tempor diam quis ligula vulputate, ut interdum magna venenatis. Praesent nec pretium erat. Nullam a lectus aliquet, condimentum
                    est sed, consectetur turpis. Proin iaculis tellus purus, quis finibus sem laoreet eget.
                </p>
                <section id="news">
                    <h2>News</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac diam tortor. Mauris quis sagittis elit. Morbi sed nisi urna. Phasellus consequat tortor vel congue maximus. Mauris consectetur orci sapien, et mattis sem lacinia in. Aliquam sapien
                        ante, tristique et laoreet hendrerit, rutrum quis elit. Nam erat lacus, viverra at ullamcorper in, sollicitudin eu nisi. Proin ut suscipit nisi. Pellentesque vel risus sed ligula interdum congue ac at nibh.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac diam tortor. Mauris quis sagittis elit. Morbi sed nisi urna. Phasellus consequat tortor vel congue maximus. Mauris consectetur orci sapien, et mattis sem lacinia in. Aliquam sapien
                        ante, tristique et laoreet hendrerit, rutrum quis elit. Nam erat lacus, viverra at ullamcorper in, sollicitudin eu nisi. Proin ut suscipit nisi. Pellentesque vel risus sed ligula interdum congue ac at nibh.
                    </p>
                </section>
            </div>
            <div class="box2">
                <div class="tablewrap">
                    <table>
                        <caption>Top Products</caption>
                        <thead id="tablehead">
                            <tr>
                                <th>Software</th>
                                <th>Zimtex</th>
                                <th>Apachestone</th>
                                <th>Peachworks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>UI</th>
                                <td>5/5</td>
                                <td>4/5</td>
                                <td>4/5</td>
                            </tr>
                            <tr>
                                <th>Performance</th>
                                <td>4/5</td>
                                <td>5/5</td>
                                <td>4/5</td>
                            </tr>
                            <tr>
                                <th>Portability</th>
                                <td>5/5</td>
                                <td>4/5</td>
                                <td>4/5</td>
                            </tr>
                            <tr>
                                <th>Security</th>
                                <td>5/5</td>
                                <td>3/5</td>
                                <td>3/5</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <th>Rank</th>
                            <td>Gold</td>
                            <td colspan="2">Silver</td>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="box6">
                <h2>Date utilizatori + statistici !</h2>
                <p>
                    <%= ip %>
                </p>
                <section id="products">
                    <h2><i class="fa-solid fa-code"></i>Our products<i class="fa-solid fa-code"></i></h2>
                    <p>
                        Below there's a non-exhaustive list of our most popular choices.
                    </p>
                    <section>
                        <h3>Text editors</h3>
                        <p>
                            Want a smooth customizable experience when writing an essay or programming in your prefered language ? Check out the list below
                        </p>
                        <ul>
                            <li>Zimtex</li>
                            <li>Canlux</li>
                            <li>Indidexon</li>
                        </ul>
                    </section>
                    <section>
                        <h3>Image editors</h3>
                        <p>
                            Want to get the most out of your favorite pictures and make them shine ? Check out the list below
                        </p>
                        <ul>
                            <li>Granitelight</li>
                            <li>Apachestone</li>
                            <li>Peachworks</li>
                        </ul>
                    </section>
                    <section>
                        <h3>Video players</h3>
                        <p>
                            Want to watch the new movie you just downloaded or relive memories captured in a video ? Check out the list below
                        </p>
                        <ul>
                            <li>Vineshow</li>
                            <li>Globaltube</li>
                            <li>Zamzamcore</li>
                        </ul>
                    </section>
                    <p>
                        If you still didn't find what you were looking for, visit our dedicated page for all the products.
                    </p>
                </section>
            </div>
            <div class="box4">
                <h2>Anunturi !</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut mauris ac tortor hendrerit auctor. Sed ultricies accumsan porttitor. Praesent dapibus fermentum sapien at congue. Nam vitae dapibus tellus. Quisque auctor arcu eu sapien ullamcorper luctus.
                    Phasellus scelerisque ultrices sapien, ac fermentum erat mattis vitae. Donec non arcu interdum, pellentesque tortor ac, sagittis dolor. Cras tincidunt tortor tortor, vitae aliquet nibh pharetra lobortis. Praesent vestibulum consequat
                    porttitor. Proin ipsum libero, vulputate non ultricies in, fringilla in purus. Pellentesque sit amet eros velit. In sit amet nisi ultricies, interdum risus sit amet, volutpat felis. Maecenas interdum viverra sem lobortis condimentum.
                    Aliquam imperdiet eget neque id sagittis. Phasellus porttitor imperdiet fringilla. In ante risus, congue vitae semper et, faucibus ac nisl. Cras lobortis cursus metus, nec finibus nunc. Praesent viverra arcu laoreet, lacinia neque
                    nec, gravida nisi. Curabitur imperdiet finibus elit, ac tristique risus lacinia id. Morbi at nibh porttitor, accumsan enim non, porta ex. Donec congue condimentum augue ut fringilla. Aliquam iaculis libero nulla, id iaculis erat ultrices
                    non. Pellentesque suscipit volutpat pellentesque. Integer venenatis ullamcorper lectus non luctus. Fusce vel sollicitudin leo. Vestibulum molestie velit vel vestibulum malesuada. Interdum et malesuada fames ac ante ipsum primis in
                    faucibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent tempor diam quis ligula vulputate, ut interdum magna venenatis. Praesent nec pretium erat. Nullam a lectus aliquet, condimentum
                    est sed, consectetur turpis. Proin iaculis tellus purus, quis finibus sem laoreet eget.
                </p>
            </div>
            <div class="box7">
                <h2>Site + server !</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut mauris ac tortor hendrerit auctor. Sed ultricies accumsan porttitor. Praesent dapibus fermentum sapien at congue. Nam vitae dapibus tellus. Quisque auctor arcu eu sapien ullamcorper luctus.
                    Phasellus scelerisque ultrices sapien, ac fermentum erat mattis vitae. Donec non arcu interdum, pellentesque tortor ac, sagittis dolor. Cras tincidunt tortor tortor, vitae aliquet nibh pharetra lobortis. Praesent vestibulum consequat
                    porttitor. Proin ipsum libero, vulputate non ultricies in, fringilla in purus. Pellentesque sit amet eros velit. In sit amet nisi ultricies, interdum risus sit amet, volutpat felis. Maecenas interdum viverra sem lobortis condimentum.
                    Aliquam imperdiet eget neque id sagittis. Phasellus porttitor imperdiet fringilla. In ante risus, congue vitae semper et, faucibus ac nisl. Cras lobortis cursus metus, nec finibus nunc. Praesent viverra arcu laoreet, lacinia neque
                    nec, gravida nisi. Curabitur imperdiet finibus elit, ac tristique risus lacinia id. Morbi at nibh porttitor, accumsan enim non, porta ex. Donec congue condimentum augue ut fringilla. Aliquam iaculis libero nulla, id iaculis erat ultrices
                    non. Pellentesque suscipit volutpat pellentesque. Integer venenatis ullamcorper lectus non luctus. Fusce vel sollicitudin leo. Vestibulum molestie velit vel vestibulum malesuada. Interdum et malesuada fames ac ante ipsum primis in
                    faucibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent tempor diam quis ligula vulputate, ut interdum magna venenatis. Praesent nec pretium erat. Nullam a lectus aliquet, condimentum
                    est sed, consectetur turpis. Proin iaculis tellus purus, quis finibus sem laoreet eget.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac diam tortor. Mauris quis sagittis elit. Morbi sed nisi urna. Phasellus consequat tortor vel congue maximus. Mauris consectetur orci sapien, et mattis sem lacinia in. Aliquam sapien
                    ante, tristique et laoreet hendrerit, rutrum quis elit. Nam erat lacus, viverra at ullamcorper in, sollicitudin eu nisi. Proin ut suscipit nisi. Pellentesque vel risus sed ligula interdum congue ac at nibh.
                </p>
            </div>
            <div class="box8">
                <figure>
                    <picture>
                        <source media="(max-width: 480px) " srcset="/resurse/pics/Software480w.png ">
                        <source media="(max-width: 1020px) " srcset="/resurse/pics/Software1020w.png ">
                        <img src="/resurse/pics/Software1600w.png " alt="Software ">
                    </picture>
                    <figcaption>Software</figcaption>
                </figure>
                <div class="iframewrapper">
                    <iframe class="iframescreen" name="ifrvideo"></iframe>
                    <div class="iframecolumn">
                        <a href="https://www.youtube.com/embed/C7Mhi5PS7TA " target="ifrvideo">PayPal</a>
                        <a href="https://www.youtube.com/embed/FoeSOe31lcI " target="ifrvideo">Bitcoin</a>
                    </div>
                </div>
                <section id="faq">
                    <h2>FAQ</h2>
                    <details>
                        <summary>Why would i choose your products ? </summary>
                        <ul>
                            <li>We support small companies</li>
                            <li>We help create fair competition in the IT industry</li>
                            <li>Quality control</li>
                            <li>Variety of products in every category</li>
                        </ul>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac diam tortor. Mauris quis sagittis elit. Morbi sed nisi urna. Phasellus consequat tortor vel congue maximus. Mauris consectetur orci sapien, et mattis sem lacinia in. Aliquam sapien
                            ante, tristique et laoreet hendrerit, rutrum quis elit. Nam erat lacus, viverra at ullamcorper in, sollicitudin eu nisi. Proin ut suscipit nisi. Pellentesque vel risus sed ligula interdum congue ac at nibh.
                        </p>
                    </details>
                    <details>
                        <summary>How do i request a refund ?</summary>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac diam tortor. Mauris quis sagittis elit. Morbi sed nisi urna. Phasellus consequat tortor vel congue maximus. Mauris consectetur orci sapien, et mattis sem lacinia in. Aliquam sapien
                            ante, tristique et laoreet hendrerit, rutrum quis elit. Nam erat lacus, viverra at ullamcorper in, sollicitudin eu nisi. Proin ut suscipit nisi. Pellentesque vel risus sed ligula interdum congue ac at nibh.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac diam tortor. Mauris quis sagittis elit. Morbi sed nisi urna. Phasellus consequat tortor vel congue maximus. Mauris consectetur orci sapien, et mattis sem lacinia in. Aliquam sapien
                            ante, tristique et laoreet hendrerit, rutrum quis elit. Nam erat lacus, viverra at ullamcorper in, sollicitudin eu nisi. Proin ut suscipit nisi. Pellentesque vel risus sed ligula interdum congue ac at nibh.
                        </p>
                    </details>
                    <details>
                        <summary>What are the payment methods available ?</summary>
                        <ul>
                            <li>Card</li>
                            <li><a target="_blank " href="https://www.paypal.com/en/home ">PayPal</a>
                            </li>
                            <li>Bitcoin
                            </li>
                        </ul>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac diam tortor. Mauris quis sagittis elit. Morbi sed nisi urna. Phasellus consequat tortor vel congue maximus. Mauris consectetur orci sapien, et mattis sem lacinia in. Aliquam sapien
                            ante, tristique et laoreet hendrerit, rutrum quis elit. Nam erat lacus, viverra at ullamcorper in, sollicitudin eu nisi. Proin ut suscipit nisi. Pellentesque vel risus sed ligula interdum congue ac at nibh.
                        </p>
                    </details>
                </section>
            </div>

        </main>
        <%- include("../../fragmente/footer.ejs") %>

</body>

</html>