/* Color Theme Swatches in Hex */

.My-Color-Theme-1-hex {
    color: #0B0C10;
}

.My-Color-Theme-2-hex {
    color: #1F2833;
}

.My-Color-Theme-3-hex {
    color: #C5C6C7;
}

.My-Color-Theme-4-hex {
    color: #66FCF1;
}

.My-Color-Theme-5-hex {
    color: #45A29E;
}


/* Color Theme Swatches in RGBA */

.My-Color-Theme-1-rgba {
    color: rgba(11, 12, 16, 1);
}

.My-Color-Theme-2-rgba {
    color: rgba(31, 40, 51, 1);
}

.My-Color-Theme-3-rgba {
    color: rgba(197, 198, 199, 1);
}

.My-Color-Theme-4-rgba {
    color: rgba(102, 252, 241, 1);
}

.My-Color-Theme-5-rgba {
    color: rgba(69, 162, 158, 1);
}


/* Color Theme Swatches in HSLA */

.My-Color-Theme-1-hsla {
    color: hsla(228, 18, 5, 1);
}

.My-Color-Theme-2-hsla {
    color: hsla(213, 24, 16, 1);
}

.My-Color-Theme-3-hsla {
    color: hsla(210, 1, 77, 1);
}

.My-Color-Theme-4-hsla {
    color: hsla(175, 96, 69, 1);
}

.My-Color-Theme-5-hsla {
    color: hsla(177, 40, 45, 1);
}

@keyframes textstretch {
    from {
        transform: scaleX(0)
    }
    to {
        transform: scaleX(1);
    }
}

.ham div {
    width: 35px;
    height: 5px;
    background-color: var(--h-color);
    margin: 6px 0;
}

.menu-btn {
    display: none;
}

.menu {
    display: none;
}

.acasa {
    display: none;
}

.menu-btn:checked~.menu {
    display: block;
    padding: 0px;
    border: 0px;
}

.dropdown {
    position: relative;
    display: block;
}

.dropbtn {
    font-family: 'Rowdies', cursive;
    font-size: 1.2rem;
    background-color: #0B0C10;
    color: var(--link-color);
    border: none;
    width: 100%;
    animation: textstretch 300ms ease-in-out forwards;
    /*transition: text-shadow 0.5s;
    text-shadow: 0px -20px var(--main-bg-color);*/
}

.dropdown-content {
    display: none;
    /*position: absolute;*/
    background-color: var(--sec-bg-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

@media only screen and (min-width:1020px) {
    .hamlabel {
        display: none;
    }
    .ham div {
        display: none;
    }
    .menu {
        display: flex;
        justify-content: space-between;
        padding: 0px;
    }
    .menu-icon {
        display: none;
    }
    .dropbtn {
        font-family: 'Rowdies', cursive;
        font-size: 1.2rem;
        background-color: #0B0C10;
        color: var(--link-color);
        border: none;
        transition: text-shadow 0.5s;
        text-shadow: 0px -30px var(--main-bg-color);
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: var(--sec-bg-color);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    .menu>.dropdown {
        flex: 1;
    }
}

@media only screen and (min-width:1600px) {
    .hamlabel {
        display: none;
    }
    .ham div {
        display: none;
    }
    .menu {
        display: flex;
        justify-content: space-between;
        padding: 0px;
    }
    .menu-icon {
        display: none;
    }
    .dropbtn {
        font-family: 'Rowdies', cursive;
        font-size: 1.2rem;
        background-color: #0B0C10;
        color: var(--link-color);
        border: none;
        transition: text-shadow 0.5s;
        text-shadow: 0px -30px var(--main-bg-color);
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: var(--sec-bg-color);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    .menu>.dropdown {
        flex: 1;
        justify-content: space-between;
    }
    .acasa {
        display: inline;
    }
}

.dropdown-content a {
    color: var(--link-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-decoration: underline solid transparent;
    transition: text-decoration 1s ease;
}

.dropdown-content a:hover {
    background-color: var(--main-bg-color);
    text-decoration: underline solid var(--main-text-color);
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

.dropdown-content {
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}

.dropdown:hover .dropdown-content {
    display: block;
    width: 100%;
}


/*@keyframes fallingtext {
    from {
       text-shadow: 0px -20px #9ff3ed;
    }
    to {
        text-shadow: 0px 0px #66FCF1;
    }
}*/

.dropdown:hover .dropbtn {
    background-color: #4f5158;
}

.dropbtn:hover {
    text-shadow: 0px 0px var(--main-text-color);
    color: #91f5ee;
}

.foot {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #0B0C10;
}

.foot>* {
    padding-right: 10px;
}